# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb

# Build folders
bin/
obj/

# Logs
*.log

# Rider
.idea/

# OS files
Thumbs.db
.DS_Store

# Node (if frontend later)
node_modules/

# Environment files
appsettings.Development.json
